* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  background-color: lightgray;
  padding: 20px 0;
  position: relative;
  height: 35vh;
}

div {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 15px;
  position: absolute;
  left: 0;
  transition: all 2s linear;
}

div:nth-of-type(2) {
  width: 100px;
  height: 100px;
  background-color: green;
  margin: 15px;
  position: absolute;
  top: 15vh;
  left: 0;
  transition: all 1s linear 1s;
}

section:hover div {
  left: 90%;
}
